{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="name" scope="row">{{name}}</td>
        <td id="symbol">{{symbol}}</td>
        <td id="price">{{price | usd}}</td>
      </tr>
    </tbody>
</table>

<form action="/quote" method="post">
    <div class="mb-3">
        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="stock_name" name="stock_name" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Get Another Quote</button>
</form>
{% endblock %}